<div class="col-sm-7">
    <div class="row">
        <div class="section-header"><i class="fa fa-comments"></i> About us <a class="accent x-small" ui-sref="testimonials"> | Write a testimonial</a></div>
        <div class="">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis nulla scelerisque, aliquet leo quis, convallis arcu. Curabitur imperdiet sit amet lectus non tristique. Vestibulum eleifend consequat viverra. Quisque a magna ac ipsum fringilla faucibus vel quis nunc. Suspendisse dolor libero, facilisis et pulvinar vel, suscipit et tortor. Nunc condimentum in turpis a aliquet. Sed vel posuere tortor. Donec pharetra porttitor massa, ut euismod urna vehicula et. Nunc placerat felis at erat sagittis pulvinar. Quisque rhoncus orci ex, sit amet mollis ligula aliquam quis. Aenean nulla turpis, commodo ut condimentum vitae, auctor id mi. Aliquam non lectus eget justo mollis porttitor.

            Nulla commodo eleifend nisi a laoreet. Proin at facilisis tellus. Maecenas tempus dui sapien, vitae aliquet metus faucibus quis. Integer et leo id diam tempus volutpat quis vel ex. Integer scelerisque pellentesque mauris lobortis volutpat. Aliquam vel velit sapien. Cras maximus dignissim volutpat. Maecenas egestas metus eu libero accumsan ornare. Proin quis urna et sem mollis tincidunt. Sed vulputate libero magna. Nullam facilisis pretium libero vitae placerat. Suspendisse eleifend venenatis orci a venenatis. Mauris aliquet tortor massa, at tincidunt ex bibendum a. Integer tellus ante, semper nec mi non, aliquam auctor eros.
        </div>

    </div>

</div>
<div class="col-sm-5">
    <div class="section-header"> <i class="fa fa-camera"></i> Photo gallery</div>
</div>