<nav class="navbar navbar-inverse navbar-fixed-top header-custom-color" role="navigation">
    <div class="container container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">{{App.name}}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li ng-repeat="tab in App.tabs"><a  ui-sref="{{tab.state}}"><i class="fa {{tab.icon}}"></i></i> {{tab.label}}</a></li>
                <li><a id="payments" ui-sref="."><i class="fa fa-credit-card"></i></i> payments</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>

<div class="header-banner-container container-fluid">
    <div class="col-sm-6">
        <div class="col-sm-6">
            <div class="row">
                <stats-directive main-title="customer" sub-title="satisfaction" value="94%" color="#CC2F7A" wait-for="{{stats.length > 0}}" class="col-xs-12"> </stats-directive>
            </div>
            <stats-directive main-title="yelp" sub-title="rating" class="col-xs-12" wait-for="{{stats.length > 0}}">
                <div class="star-rating">
                    <i class="fa fa-star on"></i>
                    <i class="fa fa-star on"></i>
                    <i class="fa fa-star on"></i>
                    <i class="fa fa-star off"></i>
                    <i class="fa fa-star off"></i>
                </div>
            </stats-directive>
        </div>
        <div class="col-sm-6">
            <stats-directive main-title="completed" sub-title="jobs" value="253" color="#10468D" class="col-xs-12" wait-for="{{stats.length > 0}}"> </stats-directive>
            <stats-directive main-title="current" sub-title="jobs" value="02" color="#FF6B00" class="col-xs-12" wait-for="{{stats.length > 0}}"> </stats-directive>
        </div>
    </div>


    <div class="col-sm-6">
        <div class="row">
            <div class="section contactus col-sm-6 pull-right">
                <div class="section-header pull-right row">contact us</div>
                <div class="section-content row pull-right">
                    <div class="row">
                        <input type="text" placeholder="name" class="col-xs-5"/>
                        <input type="text" placeholder="phone" class="col-xs-6" style="width:47%" ng-model="contact.phone" fa-input-mask-phone/>
                    </div>
                    <div class="row ">
                        <input type="text" placeholder="email" class="col-xs-11"/>
                    </div>
                    <div class="row ">
                        <textarea name="" id="" cols="30" rows="3" class="col-xs-11" placeholder="message"></textarea>
                    </div>
                    <div class="row ">
                        <button class="btn btn-success col-xs-3 col-xs-offset-8" id="sendContact">send</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="phone-number-container col-xs-12">
                <i class="fa fa-phone-square phone-icon"></i>
                <div class="col-xs-6 col">
                    <div class="row phone-number"> (631) 000-1234</div>
                    <div class="row phone-number-name"> Dan Shea</div>
                </div>
                <div class="col-xs-6 col">
                    <div class="row phone-number"> (631) 000-1234</div>
                    <div class="row phone-number-name"> Dan Shea</div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-modal
        id = "contactUsConfModal"
        width = "300px"
        title = "Thank you!"
        message = "Your message was delivered"
        color-scheme="#10468d"
        trigger="sendContact"
        condition="true"
        on-ok="doSomething"
        on-cancel="doSomething"
        on-close="doSomething"
        on-open="doSomething"
        >
</ng-modal>

<ng-slide
        from="left"
        behavior="push"
        trigger="payments"
        id="payments_slide"
        class="payment">
    <div class="section-header"><i class="fa fa-credit-card"></i> Make a Payment</div>
    <div id="retrieveBill" ng-hide="payment.data">
        <input class="col-xs-12" type="text" fa-input-mask-phone placeholder="phone" ng-model="payment.phone"/>
        <input class="col-xs-12" type="text" fa-input-mask-zip placeholder="zip" ng-model="payment.zip"/>
        <button class="col-xs-4 col-xs-offset-8 btn btn-success" ng-click="payment.data = true">retrieve</button>
    </div>
    <div id="payBill" ng-show="payment.data">
        <div class="billItem">
            <input type="checkbox"/> US$ 10,000.00
        </div>
        <div class="billItem">
            <input type="checkbox"/> US$ 10,000.00
        </div>
        <div class="billItem">
            <input type="checkbox"/> US$ 10,000.00
        </div>
        <div class="billItem">
            <input type="checkbox"/> US$ 10,000.00
        </div>
        <input class="col-xs-12" type="text" placeholder="name on card"/>
        <input class="col-xs-12" type="text" placeholder="card number"/>
        <input class="col-xs-12" type="text" placeholder="address on card"/>
        <input class="col-xs-5" type="text" placeholder="city"/>
        <input class="col-xs-6" type="text" placeholder="state"/>
        <div class="totalPay text-right">
            total:<b> US$ 15,000.000</b>
        </div>
        <input class="col-xs-5" type="text" placeholder="cvv"/>
        <input class="col-xs-6" type="text" placeholder="exp" fa-input-mask-cc-exp ng-model="payment.exp"/>
        <div class="button-group col-xs-12 paymentAction">
            <button class="col-xs-4 pull-right btn btn-success" id="doPay">pay</button>
            <button class="col-xs-4 pull-right btn btn-danger" >cancel</button>
        </div>


        <div class="footer">
            <div class="col-xs-8 cc-logos no-padding">
                <i class="fa fa-cc-amex"></i>
                <i class="fa fa-cc-diners-club"></i>
                <i class="fa fa-cc-discover"></i>
                <i class="fa fa-cc-mastercard"></i>
                <i class="fa fa-cc-visa"></i>
                <i class="fa fa-cc-stripe"></i>
            </div>
            <div class="col-xs-4 no-padding cc-logos">
                powered by
                <i class="fa fa-cc-paypal new-line"></i>

            </div>
        </div>
    </div>

</ng-slide>

<ng-modal
        id = "paymentConfModal"
        width = "300px"
        title = "Thank you for your payment!"
        color-scheme="#10468d"
        trigger="doPay"
        condition="true"
        on-ok="doSomething"
        on-cancel="doSomething"
        on-close="doSomething"
        on-open="doSomething"
        >
</ng-modal>