<div class="col-sm-7">
    <div class="row">
        <div class="section-header"><i class="fa fa-comments"></i> Testimonials <a class="accent x-small"  ui-sref="testimonials"> | Write a testimonial</a></div>
        <div  wait-for="{{testimonials.length > 0}}">
            <small class="testimonial">
                "{{randomTest.testimonial}}"
            </small>
            <credit>
                {{randomTest.name}} | {{randomTest.date}}
            </credit>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 no-margin no-padding">
            <div class="section-header"><i class="fa fa-credit-card"></i> Payment</div>
            <div class="  accent">
                :: retrieve bill information
            </div>
            <div>
                <input type="text" placeholder="Phone" class="col-xs-9" ng-model="payment.phone" fa-input-mask-phone/>
            </div>
            <div>
                <input type="text" placeholder="zip" class="col-xs-9" ng-model = "payment.zip" fa-input-mask-zip/>
            </div>
            <div>
                <a class="btn btn-info col-xs-offset-4 col-xs-5" ui-sref="payments">continue</a>
            </div>
        </div>
        <div class="col-sm-8 no-margin no-padding">
            <form ng-submit="sendRecommendUs(recommend)" name="recommendus" >
                <div class="section-header"><i class="fa fa-envelope"></i> Recommend us</div>
                <div>
                    <input type="text" placeholder="Your Name" class="col-xs-5" required ng-model="recommend.yourName"/>
                    <input type="email" placeholder="your Email" class="col-xs-5" required ng-model="recommend.yourEmail"/>
                </div>
                <div>
                    <input type="text" placeholder="Friend's Name" class="col-xs-5" required ng-model="recommend.friendsName"/>
                    <input type="email" placeholder="Friend's Email" class="col-xs-5" required ng-model="recommend.friendsEmail"/>
                </div>
                <div>
                    <textarea   placeholder="message" class="col-xs-9" required ng-model="recommend.message"></textarea>
                    <input class="btn btn-info pull-right recommendBtn" id="sendRecommend" type="submit" value="Send"/>

                </div>
            </form>
        </div>
    </div>
</div>
<div class="col-sm-5">
    <div class="section-header"> <i class="fa fa-camera"></i> Photo gallery</div>
</div>

