<div class="section-header">
    <i class="fa fa-comments"></i>
    Testimonials
</div>
<form class="col-xs-6" ng-submit="sendTestimonial(testimonial)" name="frmTestimonial">
        <div class="col-sm-6">
            <input type="text" placeholder="name" class="col-xs-11" ng-model="testimonial.name" required/>
            <input type="text" placeholder="phone" class="col-xs-11" ng-model="testimonial.phone" fa-input-mask-phone required/>
            <input type="email" placeholder="email" class="col-xs-11" ng-model="testimonial.email" required/>
        </div>

        <div class="col-sm-6">
            <textarea name="" id="" cols="30" rows="6" placeholder="testimonial" class="col-xs-11" ng-model="testimonial.message" required></textarea>
            <input type="submit" class="btn btn-success btn-small pull-right" id="doSendtestimonial"  value="Done"/>

        </div>

</form>
<div class="col-xs-6" wait-for="{{testimonials.length > 0}}">
    <div class="col-xs-12 panel panel-default inverse col-sm-12  testimonialsContainer">
        <testimonial ng-repeat="test in testimonials track by $index">
            <small class="testimonial">
                "{{test.testimonial}}"
            </small>
            <credit>
                {{test.name}} | {{test.date}}
            </credit>
        </testimonial>
    </div>
</div>

