<div class="section-header">
    <i class="fa fa-comments"></i>
    Testimonials
</div>
<div class="col-xs-8">
    <div class="panel panel-info inverse col-sm-5  no-padding">
        <div class="panel-heading">Personal Info</div>
        <div class="panel-body">
            <input type="text" placeholder="name" class="col-xs-11"/>
            <input type="text" placeholder="phone" class="col-xs-11" ng-model="testimonial.phone" fa-input-mask-phone/>
            <input type="text" placeholder="email" class="col-xs-11"/>
        </div>
    </div>
    <div class="panel panel-success inverse col-sm-6 col-sm-offset-1 no-padding">
        <div class="panel-heading">Testimonial</div>
        <div class="panel-body">
            <textarea name="" id="" cols="30" rows="3" placeholder="testimonial" class="col-xs-11"></textarea>
            <button class="btn btn-success btn-small pull-right" id="doSendtestimonial">Done</button>

        </div>
        <div class="panel-footer">
        </div>
    </div>
</div>
<div class="col-xs-4">
    <div class="col-xs-12 panel panel-default inverse col-sm-12  testimonialsContainer">
        <testimonial ng-repeat="i in [1,2,3,4,5,6,7,8,9]">
            <small class="testimonial">
                "Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...
                There is no one who loves pain itself, who seeks after it and wants to have it, simply because it is pain..."
            </small>
            <credit>
                Fabio Almeida | 11/25/2015
            </credit>
        </testimonial>
    </div>
</div>

<ng-modal
        id = "testimonialConfModal"
        width = "300px"
        title = "Thank you!"
        message = "Your testimonial is very important to us"
        color-scheme="#8D0A00"
        btn-ok-color="#8D0A00"
        trigger="doSendtestimonial"
        condition="true"
        on-ok="doSomething"
        on-cancel="doSomething"
        on-close="doSomething"
        on-open="doSomething"
        >
</ng-modal>
